<h1>Edit Account Information</h1>

<%= render 'form' %>
<br />

<%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: 'Are you certain you want to delete your account? You will lose all of your music!' } %><br />
