<h1><%= link_to @user.username, edit_user_path(@user) %>'s Songbook</h1>

<%= link_to "Your Songs", songs_path %>
<%= link_to "Your Instruments", instruments_path %>
<%= link_to "Your Elements", elements_path %>
