<div class="logo">
  <h1><%= link_to @user.username.titleize, edit_user_path(@user) %>'s Songbook</h1>
</div>

</div>
<% if @user && session[:user_id] = @user.id %>
<nav>
  <button id='ajax-new-instrument'>New Instrument</button>
  <button id='ajax-new-song'>New Song</button>
  <button id='ajax-new-element'>New Element</button>
  <button id='instruments-data'>
    Instruments
  </button>
  <button id='songs-data'>
    Songs
  </button>
  <button id='elements-data'>
    Elements</button>
  <button id='stats-data'>
    Musician profile
  </button>
</nav>
<div id="container">

  <div class="new form" id="new-instrument-form-div"></div>
  <div class="new form" id="new-song-form-div"></div>
  <div class="new form" id="new-element-form-div"></div>
  <div id='ajax-instruments'></div>
  <div id='ajax-elements'></div>
  <div id='ajax-songs'></div>
  <div id='ajax-stats'></div>
</div>

<br/>
<br/>
<%= link_to "Log Out", logout_path, :method => :get %>

<br/>
<br/>
<%end%>